.galleryPost{
    display: flex;
    justify-content: space-between ;
}
.sideImageWrapper div{
    width: 100%;
}

.sideImageWrapper div img{
    max-width: 100%;
    object-fit: cover;
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
